sasl.mechanism=OAUTHBEARER
security.protocol=SASL_PLAINTEXT
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
  username="appSA" \
  password="appSA" \
  metadataServerUrls="http://kafka-broker1:8090,http://kafka-broker2:8090,http://kafka-broker3:8090";
sasl.login.callback.handler.class=io.confluent.kafka.clients.plugins.auth.token.TokenUserLoginCallbackHandler